% {lib_dirs, ["deps"]}.

{erl_opts, [
    debug_info,
    fail_on_warning, 
    {parse_transform, lager_transform}
]}.


{deps, [
    poolboy,
    {prometheus, "3.2.3"},
    {nkhttpc, {git, "https://github.com/netcomposer/nkhttpc.git", {branch, "v09"}}},
    {nkservice, {git, "https://github.com/netcomposer/nkservice.git", {branch, "v09"}}}
]}.



